[package]
name = "content-library"
version = "0.1.0"
edition = { workspace = true }

[dependencies]
prisma-lib = { path = "../prisma" }
tokio = { workspace = true }
tracing = { workspace = true }
chrono = "0.4.34"
sha256 = "1.5.0"
vector-db = { path = "../vector-db", features = ["qdrant"] }
